pre, code, blockquote  {
    background-color: #eeeeee !important;
    color: black !important;
}

/*types*/
.typ {
    color: #2b91af !important;
}

/*keyword*/
.kwd {
    color: #00008b !important;
}

/*var*/
.pln {
    color: #000000 !important;
}

/*punctuation*/
.pun {
    color: #000000 !important;
}

/*comentary*/
.com {
    color: gray!important;
    font-style: normal !important;
}


/*string*/
.str {
    color: #800000!important;
}


/*literal*/
.lit {
    color: #800000!important;
}

/** attribute */
.atn {
    color: #ff0000!important;
}

/*attribute value HTML*/
.atv {
    color: #0000ff!important;
}

.tag {
    color: #800000!important;
}

/** doctype */
.dec {
    color: #800080!important;
}