pre, code, blockquote {
    background-color: black !important;
    color: white !important;
}

/*types*/
.typ {
    color: #ffa927 !important;
}

/*keyword*/
.kwd {
    color: #fc580c !important;
}

/*var*/
.pln {
    color: white !important;
}

/*punctuation*/
.pun {
     color: white !important;
}
/*string*/
.str {
    color: #fdca49 !important;
}


/*literal*/
.lit {
    color: #fc580c !important;
}

/*comentary*/
.com {
    color: #615953 !important;
}

/** doctype */
.dec {
    color: white !important;
}

/** attribute */
.atn {
    color: #ffc48c !important;

}

.tag {
     color: #fc580c !important;
}

/*attribute HTML*/
.atv {
     color: #fdca49 !important;
}



