pre, code, blockquote {
    background:#0c1021 !important;
    color:#f8f8f8 !important;
}

/*types*/
.typ {
    color:#ff6400 !important;
}

/*keyword*/
.kwd {
    color:#fbde2d !important;
}

/*var*/
.pln {
    color:#f8f8f8 !important;
}

/*punctuation*/
.pun {
    color:#f8f8f8 !important;
}
/*string*/
.str {
    color:#61ce3c !important;
}


/*literal*/
.lit {
    color:#f8f8f8 !important;
}

/*comentary*/
.com {
    color:#aeaeae !important;
}

/** doctype */
.dec {
    color:#aeaeae !important;
}

/** attribute */
.atn {
    color:#7f90aa !important;
}

.tag {
    color:#7f90aa !important;
}

/*attribute HTML*/
.atv {
    color:#61ce3c !important;
}



